@charset "UTF-8";
 * {
    padding: 0;
    margin: 0;
}
body {
    /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    margin: auto;
    padding: 0;
    /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
    text-align: center;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    width: 1024px;
    background-color: #FFF;
}
#container {
	height: 800px;
	width: 1024px;
	background-image: url(../img/BG_Tresen_sw.jpg);
	background-position: center 248px;
	background-repeat: no-repeat;
	margin-top: 0px;
}
#container_intro {
    height: 800px;
    width: 1024px;
    background-image: url(../img/intro.png);
    background-position: center top;
    background-repeat: no-repeat;
}
#header {
    background-image: url(../img/header.png);
    height: 246px;
    width: 1024px;
}
#header_ergo {
    background-image: url(../img/header_ergo.png);
    height: 246px;
    width: 1024px;
}
#main_content {
    background-image: url(../img/main_content.png);
    height: 500px;
    width: 585px;
    float: right;
    margin-right: 31px;
    background-repeat: no-repeat;
}
#main_content_copy {
	background-image: none;
	height: 500px;
	width: 370px;
	background-repeat: no-repeat;
	text-align: left;
	float: left;
	padding-top: 60px;
	padding-left: 80px;
	margin: 0px;
}

#main_content_copy.scroll {
    overflow: scroll;
    overflow-x: hidden;
    height: 300px;
    margin-top: 70px;
    padding-right: 50px;
}

#sidebar {
    background-image: url(../img/sidebar.png);
    height: 500px;
    width: 408px;
    float: left;
    background-repeat: no-repeat;
}

/*rules for navigation_oben */

#navigation_oben {
    font-family: verdana;
    font-size: 14px;
    color: #DDD;
    width: 1024px;
    height: 246;
    padding-left: 485px;
    padding-top: 73px;
}
ul#navigation_oben {
    list-style-type: none
}
ul#navigation_oben li {
    width: auto;
    text-align: center;
    position: relative;
    float: left;
    margin: 6px;
}
ul#navigation_oben a {
    text-decoration: none;
    display: block;
    width: auto;
    height: 20px;
    line-height: 25px;
}

/*home*/

a.home {
    display: block;
    background-image: url(../img/navi_button_home.png);
    width: 238px;
    height: 20px;
    background-repeat: no-repeat;
}

a.home.active,
ul#navigation_oben li:hover a.home {
    background-image: url(../img/navi_button_home_over.png);
}

a.home.active.ergo,
ul#navigation_oben li:hover a.home.ergo {
    background-image: url(../img/navi_button_home_over_ergo.png);
}

/*oeffnungszeiten*/

a.oeffnungszeiten {
    display: 238px;
    background-image: url(../img/navi_button_oeffnungszeiten.png);
    width: auto;
    height: 20px;
    background-repeat: no-repeat;
}
a.oeffnungszeiten.active,
ul#navigation_oben li:hover a.oeffnungszeiten {
    background-image: url(../img/navi_button_oeffnungszeiten_over.png);
}

a.oeffnungszeiten.active.ergo,
ul#navigation_oben li:hover a.oeffnungszeiten.ergo {
    background-image: url(../img/navi_button_oeffnungszeiten_over_ergo.png);
}

/*kontakt*/

a.kontakt {
    display: block;
    background-image: url(../img/navi_button_kontakt.png);
    width: 238px;
    height: 20px;
    background-repeat: no-repeat;
}
a.kontakt.active,
ul#navigation_oben li:hover a.kontakt {
    background-image: url(../img/navi_button_kontakt_over.png);
}

a.kontakt.active.ergo,
ul#navigation_oben li:hover a.kontakt.ergo {
    background-image: url(../img/navi_button_kontakt_over_ergo.png);
}

/*anfahrt*/

a.anfahrt {
    display: block;
    background-image: url(../img/navi_button_anfahrt.png);
    width: 238px;
    height: 20px;
    background-repeat: no-repeat;
}
a.anfahrt.active,
ul#navigation_oben li:hover a.anfahrt {
    background-image: url(../img/navi_button_anfahrt_over.png);
}

a.anfahrt.active.ergo,
ul#navigation_oben li:hover a.anfahrt.ergo {
    background-image: url(../img/navi_button_anfahrt_over_ergo.png);
}

/*galerie*/

a.galerie {
    display: block;
    background-image: url(../img/navi_button_galerie.png);
    width: 238px;
    height: 20px;
    background-repeat: no-repeat;
}
a.galerie.active,
ul#navigation_oben li:hover a.galerie {
    background-image: url(../img/navi_button_galerie_over.png);
}

a.galerie.active.ergo,
ul#navigation_oben li:hover a.galerie.ergo {
    background-image: url(../img/navi_button_galerie_over_ergo.png);
}

/*kinder*/

a.kinder {
    display: block;
    background-image: url(../img/navi_button_kinder.png);
    width: 238px;
    height: 38px;
    background-repeat: no-repeat;
}
a.kinder.active,
ul#navi_sidebar li:hover a.kinder {
    background-image: url(../img/navi_button_kinder_over.png);
}

/*erwachsene*/

a.erwachsene {
    display: block;
    background-image: url(../img/navi_button_erwachsene.png);
    width: 238px;
    height: 38px;
    background-repeat: no-repeat;
}
a.erwachsene.active,
ul#navi_sidebar li:hover a.erwachsene {
    background-image: url(../img/navi_button_erwachsene_over.png);
}

/*logopaedie*/

a.wasistlogopaedie {
    display: block;
    background-image: url(../img/navi_button_was_ist_logopaedie.png);
    width: 238px;
    height: 38px;
    background-repeat: no-repeat;
}
a.wasistlogopaedie.active,
ul#navi_sidebar li:hover a.wasistlogopaedie {
    background-image: url(../img/navi_button_was_ist_logopaedie_over.png);
}

/*impressum*/

a.impressum {
    display: block;
    background-image: url(../img/navi_button_impressum.png);
    width: 238px;
    height: 38px;
    background-repeat: no-repeat;
}
a.impressum.active,
ul#navi_sidebar li:hover a.impressum {
    background-image: url(../img/navi_button_impressum_over.png);
}

a.impressum.active.ergo,
ul#navi_sidebar li:hover a.impressum.ergo {
    background-image: url(../img/navi_button_impressum_over_ergo.png);
}

/*behandlung*/

a.behandlung {
    display: block;
    background-image: url(../img/navi_button_behandlung.png);
    width: 238px;
    height: 38px;
    background-repeat: no-repeat;
}
a.behandlung.active,
ul#navi_sidebar li:hover a.behandlung {
    background-image: url(../img/navi_button_behandlung_over.png);
}

/*schienen*/

a.schienen {
    display: block;
    background-image: url(../img/navi_button_schienen.png);
    width: 238px;
    height: 38px;
    background-repeat: no-repeat;
}
a.schienen.active,
ul#navi_sidebar li:hover a.schienen {
    background-image: url(../img/navi_button_schienen_over.png);
}

/*spektrum*/

a.spektrum {
    display: block;
    background-image: url(../img/navi_button_spektrum.png);
    width: 238px;
    height: 38px;
    background-repeat: no-repeat;
}
a.spektrum.active,
ul#navi_sidebar li:hover a.spektrum {
    background-image: url(../img/navi_button_spektrum_over.png);
}

/*ergotherapie*/

a.ergotherapie {
    display: block;
    background-image: url(../img/navi_button_was_ist_ergo.png);
    width: 238px;
    height: 38px;
    background-repeat: no-repeat;
}
a.ergotherapie.active,
ul#navi_sidebar li:hover a.ergotherapie {
    background-image: url(../img/navi_button_was_ist_ergo_over.png);
}

/*mouseover hack*/
a.home img {
    visibility: hidden;
    border: none;
}
a.oeffnungszeiten img {
    visibility: hidden;
    border: none;
}
a.kontakt img {
    visibility: hidden;
    border: none;
}
a.anfahrt img {
    visibility: hidden;
    border: none;
}
a.galerie img {
    visibility: hidden;
    border: none;
}
a.kinder img {
    visibility: hidden;
    border: none;
}
a.erwachsene img {
    visibility: hidden;
    border: none;
}
a.wasistlogopaedie img {
    visibility: hidden;
    border: none;
}
a.impressum img {
    visibility: hidden;
    border: none;
}

a.schienen img {
    visibility: hidden;
    border: none;
}
a.spektrum img {
    visibility: hidden;
    border: none;
}
a.behandlung img {
    visibility: hidden;
    border: none;
}
a.ergotherapie img {
    visibility: hidden;
    border: none;
}

/*rules for navigation_sidebar */
#navi_sidebar {
    width: 240px;
    float: right;
    margin-right: 22px;
    padding-top: 50px;
}
ul#navi_sidebar {
    list-style-type: none
}
ul#navi_sidebar li {
    width: 238px;
    text-align: center;
    position: relative;
    margin: 7px;
}
ul#navi_sidebar a {
    text-decoration: none;
    display: block;
    width: 238px;
    height: 38px;
    line-height: 25px;
}

/*rules for fonts */
.headline1_logo {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: normal;
	font-weight: bolder;
	color: #A0CC3A;
}
.headline2_logo {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-style: italic;
	line-height: normal;
	font-weight: bolder;
	color: #777;
}
.copy {

	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: lighter;
	color: #777;
	font-variant: normal;
}
.h1_impressum {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 12px;
	font-weight: bolder;
	color: #A0CC3A;
	font-variant: normal;
	margin-bottom: 8px;
}
.h2_impressum {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 12px;
	font-weight: bolder;
	color: #777;
	font-variant: normal;
	margin-bottom: 5px;
}
.copy_impressum {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 12px;
	font-weight: lighter;
	color: #777;
	font-variant: normal;
	margin-bottom: 12px;
}
ul#content {
	list-style-type: disc;
	color: #A0CC3A;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: lighter;
	color: #777;
	font-variant: normal;
	padding-left: 18px;

}
ul.galerie {
    list-style-type: none;
}
img.galerie {
    width: 350px;
}

ul.galerie li.small img {
    width: 50px;
}

p.maps,
p.maps a,
p.copy a {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: lighter;
	color: #777;
	font-variant: normal;
}

#form_msg {
    width: 350px;
    height: 200px;
}
